.tiny-orphaned .tiny_orphanedfiles-areaheading {
    font-size: 20px;
}

@media only screen and (max-width: 750px) {
    .tiny-orphaned .table-responsive {
        width: calc(100vw - 40px);
        overflow-x: auto;
    }
}

.tiny-orphaned .delete {
    color: #f00;
}

.tiny-orphaned .delete:hover {
    color: #771b1b;
}

.tiny-orphaned .thumbnail {
    width: 50px;
    height: 50px;
}

.tiny-orphaned .areaheadingorphanedfilescounteronly {
    color: #f00;
}
